:root{
	--blue:#1181ee;
	--lightBlue:#b0d5fa; 
}
* {
	box-sizing: border-box;
	
}

ul {
	list-style-type: none;
	padding: 0;
}
header {
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--blue);
	margin-bottom: 25px;
}

.header-container {
	font-size: 48px;
	color: white;
	font-weight: bold;
	text-shadow: 2px 4px black;

}
body {
	background-color: var(--lightBlue);
	height:100vh ;
}

.container {
	height: 100%;
}

.search {
	border: 2px solid black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*background-color: #1181ee;*/
}

.search-container > input {
	border-radius: 5px;
	margin: 10px 0;
}

.search-history {
	height: 90%;
	width: 90%;
	background-color: var(--lightBlue);
	padding: 0;
}

.search-history li {
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
	color: black;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin: 1px 0;
}

.search-history li:hover {
	box-shadow: 2px 4px black;
}
.search-btn {
	border-radius: 5px;
	color: black;
	background-color:white;
}


.main {
	display: flex;
	justify-content: space-evenly;

}
.row { 
	height: 100%;
	margin: 0;
	padding: 0%;
	/*align-content: space-between;*/
	justify-content: flex-start;
}
.row.five-day-container {
	align-content: center;
	justify-content: space-around;
	border: 2px solid black;
}

.current {
	height: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;	
}

.current-weather-container {
	height: 70%;
	width: 70%;
	border: 2px solid black;
}

.weather-icon {
	height: 30%;
	width: 50%;
	margin-bottom: 10px;
	flex: 1 1 auto;
}

.weather-icon > * {
	display: inline;
}

.weather-info {
	margin-top: 10px;
	height: 50%;
	width: 50%;
	font-weight: bold;
}

.weather-container {
	height: 100%;
	border: 2px solid black;
	border-radius: 10px;
}

.hide {
	display: none;
}

.five-day {
	height: 35%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0;
}

.col-md-6.five-day-box {
	flex: 0 1 auto;
	height: auto;
}

.five-day-box > p {
	font-weight: bold;
	font-size: 20px;
}
/*.five-day > div {
	border: 2px dashed black;
	height: 60%;
}*/